<div class="row">
    <div class="col-lg-12">
        <div class="row margin-bottom-10 margin-right-5 margin-left-5">
            <div class="col-lg-12 text-center"><h2>Information</h2></div>
            <div class="col-lg-12 text-center margin-top-20 margin-bottom-20"><p>Your payment has been transferred successfully.</p></div>
            <div class="col-lg-12 text-right">
                <button type="submit" class="btn btn-primary popup" ng-click="closeClick()">Close</button>
            </div>
        </div>
    </div>
</div>